.spiceTable {
    background-color: #f2f2f2;
    width: 90%;

    thead {
        background-color: #eee;
        th { padding: 1em; }
    }

    tbody {
        
        td { 
            border: 1px solid black;
            border-left: 0;
            border-right: 0;
            padding: 1em 0;
        }

        tr:first-of-type td { padding-top: 0.75em; }

    }

}